{% extends '::base.html.twig' %}

{% block content %}
    
    <h1>PDV2</h1>
    
   {% if(app.session.get('actual_IdShop') is not null)%}   
     Compra ja iniciada.
     <a class="btn btn-default" href="{{path('pdv_summary')}}">Voltar a compra</a>
{% endif%}    
 
{{ form_start(form) }}
<a href="{{path('tb_client_new_pdv')}}">New Client</a>   
 {{ form_row(form.idClient ) }}
 
 {{ form_row(form.submit, { 'attr': {'class': 'btn btn-default'}}) }}
{{ form_end(form) }}
 
    
{% endblock %}
