{% extends '::base.html.twig' %}

{% block content %}

    <h1>Shop</h1>
    <table class="table-condensed table-bordered">
        <tbody>
            <tr >
                <td>
                    Client : {{shop.idClient}}
                </td>

            </tr>
            <tr class="table-hover">
                <td>
                    Total : R${{shop.total}}
                </td>

            </tr>
        </tbody>
    </table>
    <h5>Payments</h5>
    <table class="table-condensed table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Method</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr class="table-hover">
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.idMethod }}</td>               
                    <td>R${{ entity.value }}</td>
                    <td>
                        <ul>                            
                            <li>
                                <a href="{{ path('pdv_pay_delete', { 'id': entity.id }) }}">delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5" class="table-hover text-center text-info">
                    <h4>Total</h4>
                </td>
            </tr>
                
            <tr>
                <td colspan="3" class="table-hover">
                    Total Pago: R${{totalPayd}}
                </td>
                <td colspan="2" class="table-hover">
                    Total Pendente:R$ {{totalRemain}}
                </td>
            </tr>
        </tbody>
    </table>
 {% if totalRemain > 0 %}
    <a class="btn btn-success" href="{{ path('pdv_select_pay') }}">
        Add a payment
    </a>
   {% endif %}
    <a class="btn btn-default" href="{{ path('tb_cart', { 'id': shop.id }) }}">
        Change Product List
    </a>
    {% if totalRemain <= 0 %}
    <a class="btn btn-primary" href="{{ path('pdv_confirm') }}">
        Confirm Shop
    </a>
{% endif %}
{% endblock %}
