{% extends '::base.html.twig' %}



{% block content %}
    <h1>{{actionTitle}}</h1>
    <a href="{{path("tb_product_print")}}">Print</a>
     <table class="table table-bordered  table-extra-bordered">
        <thead>
            <tr>
                <th class="table-extra-bordered">{{ knp_pagination_sortable(pagination, 'Id', 'entity.id') }}</th>
                <th class="table-extra-bordered">Barcode</Fth>
                <th class="table-extra-bordered">Info</th>
                <th class="table-extra-bordered">Quantity</th>
                <th class="table-extra-bordered">Category \ SubCategory</th>
                <th class="table-extra-bordered">Price Cost \ Price Sell</th>
                <th class="table-extra-bordered">Profit \ %</th>
                <th class="table-extra-bordered">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in pagination %}
                  <tr class="table-hover table-extra-bordered">
                    <td>{{ entity.id }}</td>
                    <td><a href="{{ path('tb_product_show', { 'id': entity.id }) }}">{{ entity.barcode }}</a></td>
                    <td>{{ entity.info }}</td>                    
                    <td>{{ entity.quantity }}</td>
                    <td>{{ entity.getIdCategory }} \ {{ entity.getIdSubCategory}}</td>
                    <td>R${{ entity.pricecost }} \ R${{ entity.pricesell}}</td>
                    <td>R${{ entity.getProfit }} \  {{ entity.getProfitPercentage }}%</td>
{#                    <td>{% if entity.dateIn %}{{ entity.dateIn|date('Y-m-d H:i:s') }}{% endif %}</td>                    #}
{#                    <td>{% if entity.removed %}{{ entity.removed|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('tb_product_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('tb_product_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <div class="float-left">
            <a class="btn btn-default" href="{{ path('tb_product_new') }}">
                Create a new entry
            </a>
            {% if index is not defined %}
            <a class="btn btn-danger" href="{{ path('tb_product_nostock') }}">
                Produtos sem estoque
            </a>
                {% else%}
            <a class="btn btn-default" href="{{ path('tb_product') }}">
                Voltar a lista
            </a>        
             {% endif%}
        </div>
            {# total items count #}

            
{% endblock %}
