{% extends '::base.html.twig' %}

{% block content %}

    <h1>TbProduct</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Barcode</th>
                <td>{{ entity.barcode }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ entity.info }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ entity.quantity }}</td>
            </tr>
            <tr>
                <th>Datein</th>
                <td>{{ entity.dateIn|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Userin</th>
                <td>{{ entity.userIn }}</td>
            </tr>
            <tr>
                <th>Dateupdated</th>
                <td>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Userupdated</th>
                <td>{{ entity.userUpdated }}</td>
            </tr>
            <tr>
                <th>Removed</th>
                <td>{{ entity.removed|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Userremoved</th>
                <td>{{ entity.userRemoved }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tb_product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tb_product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
