{% block form_row %}    
    
    {% spaceless %}       
       <div class="form-group">
            {{ form_label(form, label, { 'attr': {'class': 'col-sm-3 control-label'} } ) }}            
            {% set class = '' %}
            {% if errors|length > 0 %}
                {% set class = 'error' %}
            {% endif %}                   
           
            {{ form_widget(form, { 'attr': { 'class': "col-sm-3 form-control" } }) }}
                          
               
            {{ form_errors(form) }}
        
    </div>
    {% endspaceless %}
    {% endblock %} 
    
{% block genemu_jqueryselect2_javascript %}

    <script type="text/javascript">
        $field = $('#{{ id }}');

        var $configs = {{ configs|json_encode|raw }};

        // custom configs
        $configs = $.extend($configs, {
            query: function (query) {
                var data = {results: []}, i, j, s;
                for (i = 1; i < 5; i++) {
                    s = "";
                    for (j = 0; j < i; j++) {s = s + query.term;}
                    data.results.push({id: query.term + i, text: s});
                }
                query.callback(data);
            }
        });
        // end of custom configs

        $field.select2($configs);
    </script>

{% endblock %}