<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}RCSystem{% endblock %}</title>

        {% block stylesheets %}

            <link rel="stylesheet" href="{{asset('bundles/msoftrcsystem/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/msoftrcsystem/css/bootstrap-theme.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/msoftrcsystem/css/style.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/msoftrcsystem/js/jselect/css/select2.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/msoftrcsystem/css/jquery-ui.css')}}">
        {% endblock %}
    


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />       
    </head>
    <body>    
            {% if app.session.get('error') is not empty %}
                <div class='alert alert-error alert-danger'>
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {{app.session.get('error')}}    
                    {{app.session.set('error','')}}

                </div>
            {% endif %}     
            {% if app.session.get('message') is not empty %}

                <div class='alert alert-dismissable alert-success' >                     
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {{app.session.get('message')}}    
                    {{app.session.set('message','')}}   

                </div>
            {% endif %}     
            <a onclick="window.print()" class="btn btn-default">Imprimir</a>
            {% block content %}
            {% endblock %}
           
        </div>
        {#      <div class="navbar  navbar-fixed-bottom navbar-inverse ">
                  <div class="txt-center text-info">
                      ALK Copyrights &copy;
                  </div>
              </div>#}

    </body>
</html>
