
{% extends '::print.html.twig' %}

{% block content -%}
    <script>
        $(function() {
            $("#msoft_rcsystembundle_tbpaymentfilter_date_to,#msoft_rcsystembundle_tbpaymentfilter_date_from").datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                showAnim: "clip"
            });
            $("select").select2({minimumInputLength: 2});

            var clicked = false;
            $("#filter").click(function() {
                if (clicked) {
                    $(".filter").fadeOut('20');
                    clicked = false;
                } else {
                    $(".filter").fadeIn('20');
                    clicked = true;
                }
            });
        });
    </script>

    <h1>TbPayment list</h1>
    
   
    <table class="table table-bordered float-left table-with-filter" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Client</th>
                <th>Id Method</th>
                <th>Value</th>
                <th>Datein</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in pagination %}
                <tr class="table-hover">
                    <td><a href="{{ path('tb_payment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.idClient }}</td>
                    <td>{{ entity.idMethod }}</td>
                    <td>{{ entity.value }}</td>
                    <td>{{ entity.dateIn|date('Y-m-d H:i:s') }}</td>                
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('tb_payment_show', { 'id': entity.id }) }}">show</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
