{% extends '::base.html.twig' %}

{% block content -%}
    <h1>TbPayment</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ entity.value }}</td>
            </tr>
            <tr>
                <th>Datein</th>
                <td>{{ entity.dateIn|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Userin</th>
                <td>{{ entity.userIn }}</td>
            </tr>
            <tr>
                <th>Dateupdated</th>
                <td>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Userupdated</th>
                <td>{{ entity.userUpdated }}</td>
            </tr>
            <tr>
                <th>Removed</th>
                <td>{{ entity.removed|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Userremoved</th>
                <td>{{ entity.userRemoved }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tb_payment') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
