{% extends '::base.html.twig' %}

{% block content %}
    <h1>TbMethodPayment list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Type</th>                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
   {% for entity in pagination %}
            <tr class="table-hover">
                <td><a href="{{ path('tb_method_payment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.getTypeText  }}</td>                
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tb_method_payment_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('tb_method_payment_delete', { 'id': entity.id }) }}">delete</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tb_method_payment_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
