{% extends '::base.html.twig' %}

{% block content %}
    <h1>TbCart list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>             
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="table-hover">
                <td>{{ entity.id }}</td>
                <td>{{ entity.idProduct }}</td>               
                <td>{{ entity.quantity }}</td>
                <td>R${{ entity.subtotal }}</td>                
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tb_cart_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('tb_cart_delete', { 'id': entity.id }) }}">delete</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5" class="table-hover">
                Total:R${{total}}
            </td>
        </tr>
        </tbody>
    </table>
        
        
            <a class="btn btn-default" href="{{ path('tb_cart_novo') }}">
                Create a new entry
            </a>
            <a class="btn btn-primary" href="{{ path('pdv_summary') }}">
                Confirm Buy
            </a>

{% endblock %}