{% extends '::base.html.twig' %}

{% block content -%}
    
{% if form is defined %}
    {{ form_start(form) }}
    {{ form_row(form.idClient ) }}
    {{ form_row(form.submit, { 'attr': {'class': 'btn btn-default'}}) }}
    {{ form_end(form) }}
{% else %}
    <h1>TbShop list</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datein</th>
                <th>Id Client</th>
                <th>Total</th>
                <th>Pending</th>                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr class="table-hover"> 
                    <td><a href="{{ path('tb_shop_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{% if entity.dateIn %}{{ entity.dateIn|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.idClient }}</td>
                    <td>R${{ entity.total }}</td>
                    <td>R${{ entity.pending }}</td>                                
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('tb_shop_show', { 'id': entity.id }) }}">show</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
