{% extends '::base.html.twig' %}

{% block content %}
    <h1>TbStock edit</h1>

   
{{ form_start(form) }}
 
 {{ form_row(form.idEntry ) }}
 {{ form_row(form.idProduct ) }}
 {{ form_row(form.quantity ) }} 
 {{ form_row(form.submit, { 'attr': {'class': 'btn btn-default'}}) }}

{{ form_end(form) }}

        <a href="{{ path('tb_entry_add_stock', { 'id': id }) }}">
            Back to the list
        </a>
{% endblock %}
