{% extends '::base.html.twig' %}

{% block content %}
    
    <h1>TbStock list</h1>
    <table class="table table-bordered  table-extra-bordered">
        <thead>
            <tr>
                 <th class="table-extra-bordered">Id</th>
                 <th class="table-extra-bordered">Quantity</th>
                 <th class="table-extra-bordered">Product</th>
                 <th class="table-extra-bordered">Price Sell</th>
                 <th class="table-extra-bordered">Price Cost</th>
                 
                 <th class="table-extra-bordered">Actions</th>
            </tr>
        </thead>
          <tbody class="table-extra-bordered">
        {% for entity in entities %}
            <tr class="table-hover table-extra-bordered">
                <td>{{ entity.id }}</td>
                <td>{{ entity.quantity }}</td>
                <td>{{ entity.getIdProduct }}</td>
                <td>{{ entity.priceCost }}</td>
                <td>{{ entity.priceSell}}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tb_stock_edit', { 'id': entity.id,'id_entry': id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('tb_stock_delete', { 'id': entity.id }) }}">delete</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('tb_stock_new_one', { 'id': id }) }}" class="btn btn-default">
                Add new entry product
            </a>        
            <a href="{{ path('tb_stock_confirm', { 'id': id }) }}" class="btn btn-primary">
                Confirm Entry
            </a>
    {% endblock %}
